*{
   margin: 0;
   padding:0;
   box-sizing: border-box; 
}

html{
    font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
    
}

body{
    font: 1.6rem Helvetica;
    height: 100vh;
}

/* STYLE Template*/
.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem; /*header/main/footer*/
    height: 100%;
}

.header{
    grid-area: header;
    background-color: #203040;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem;
}

.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration:none;
}

.header-links a{
    color:#ffffff;
    margin-right: 2rem;
    text-decoration:none;
}

.header-links a:hover{
    color: #ff8000;
}

.main{
    grid-area: main;
    padding:2rem;
}
.footer{
    grid-area: footer;
    background-color: #203040;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ALL LINKS */
a{text-decoration: none;}
a:hover{color:#ff8000;}

/* HOME SCREEN PRODUCTS*/
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products li {
    list-style-type: none;
    padding:0;
    flex: 0 1 34rem; /* flexrow shrink fr */
    margin:1.2rem;
    height: 47rem;
    border-bottom: .1rem #c0c0c0 solid;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-name{
    font-size: 2rem;
    font-weight: bold;

}

.product-brand{
    font-size: 1.2rem;
    color: #808080;
}

.product-price{
    font-size: 2rem;
    font-weight: bold;
}

.product-image{
    max-width: 34rem;
    max-height: 34rem;
}

.product-rating{
    margin-bottom: 1rem;
}